<ion-view hide-back-button="true" hide-nav-bar="false" class="loginbg">
    <ion-content>
        <div class="card">
            <div class="item">
                Willkommen in unserer App
            </div>
            <ul class="list">
                <li class="item item-input item-select">
                    <div class="input-label">
                        Ich bin
                    </div>
                    <select ng-model="data.login">
                        <option value="mitarbeiter">Mitarbeiter</option>
                        <option value="kunde">Kunde</option>
                    </select>
                </li>
                <li>
                    <label class="item item-input">
                        <span class="input-label">Meine Id</span>
                        <input type="number" style="text-align : right" ng-model="userData.id">
                    </label>
                </li>
                <li ng-show="data.login === 'mitarbeiter'">
                    <label class="item item-input">
                       <span class="input-label">Mein Name</span>
                        <input type="text" style="text-align : right" ng-model="userData.name">
                    </label>
                </li>
            </ul>
            <div class="item">
                <button class="button button-full button-energized" ng-click="login()">
                    Login
                </button>
            </div>
        </div>
        <!--
      <h1>Login</h1>
      <label class="item item-input">
        <span class="input-label">Benutzer-ID</span>
        <input type="number" ng-model="userData.id">
      </label>
      <label class="item item-input">
        <span class="input-label">Nachname</span>
        <input type="text" ng-model="userData.name">
      </label>
    <ion-list>
      <ion-radio ng-model="data.choice" ng-value="'fieldWorker'">Außendienst-Mitarbeiter</ion-radio>
      <ion-radio ng-model="data.choice" ng-value="'customer'">Kunde</ion-radio>
    </ion-list>
      <button class="button button-full button-energized" ng-click="login()">
        Login
      </button>
-->
    </ion-content>
</ion-view>