<ion-view title="Einkaufswagen">
   <ion-nav-buttons side="right">
    <button class="button" ng-click="clearCart()">Leeren
    </button>
  </ion-nav-buttons>
    <ion-content>
        <ion-list class="sendOrder">
            <ion-item ng-repeat="item in data.cart">
                <ion-option-button class="button-assertive" ng-click="remove(item.itemId)">
                    <i class="icon ion-ios-trash-outline"></i>
                </ion-option-button>
<!--                <img ng-src="../assets/img/{{ item.pictureId }}.png" />-->
               <img ng-src="../www/assets/img/{{ item.pictureId }}.png" />
                <div>
                    <span> Kategorie: {{ item.productGroup }}</span>
                    <span class="itemId"> ID: {{ item.itemId }}</span>
                    <div style="clear : both;"></div>
                </div>

                <span class="gesKosten" style="margin-top: 5px;">
                    <span style="margin-right: 10px">{{item.price}}€  x</span>
                <input class="inputK" style="
                      border-radius: 4px;
                        height: 25px;
                        padding: 0;
                        width: 50px;
                        margin-bottom: 10px;
                        text-align: right;
                        display: inline;
                        border: 1px solid;
                        margin-right: 3px;" type="number" ng-model="item.quantity" ng-change="changeQuantity(item.itemId, item.quantity)">Stk = <span class="ges">{{item.price * item.quantity | number : 2}}€</span></span>
                <div style="clear:both"></div>

            </ion-item>
        </ion-list>
      
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-energized">
        <h1 class="title">Gesamtpreis: {{ data.price | number:2 }}€ </h1>
        <div class="buttons" ng-click="sendOrder()">
            <button class="button button-clear ion-chevron-right icon-right">Zur Bestellung</button>
        </div>
    </ion-footer-bar>
</ion-view>