#dashlist{
    li{
        padding: 10px;
    }
}
.bestellInput {
        display: inline !important;
    width: 50px !important;
    border: 1px solid !important;
    text-align: right !important;
    height: 25px !important;
    border-radius: 4px !important;
    margin-right: 5px !important;
}