<ion-view hide-back-button="true" title="Dashboard">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh Dashboard ..." on-refresh="refresh()">
        </ion-refresher>
        <div class="card"style="margin-top : 10px">
            <div class="item item-text-wrap">
                <h2>{{data.customer.companyName}}<span class="float-right">ID: {{data.customer.customerId}}</span></h2>
                <p>Ort: {{data.customer.postCode}} {{data.customer.place}}</p>
            </div>
        </div>
        <h4 style="margin-left:20px;">Volumen ihrer Bestellungen</h4>
        <div >
            <div>
                <highchart id="chart1" config="chartConfig" class="span10"></highchart>
            </div>
            <div class="item range">
                <input type="range" name="volume" ng-change="sliderChanged()" min="-3" max="{{data.maxValue}}" ng-model="data.sliderVal" value="0">
            </div>
        </div>
        <div class="card" ng-show="data.orders.length > 0">
            <div class="item item-text-wrap">
                <h2>Ihr letzten 5 Bestellungen</h2>
                <ul class="list" id="dashlist">
                    <li class="item" ng-repeat="orders in data.orders" ui-sref="app.dashboard-detail({id: orders.orderId})">
                        <h3>{{orders.customer.companyName}}</h3>
                        <p>{{orders.orderDate | date : 'short'}}</p>
                        <span class="badge badge-assertive">{{orders.networth | number : 2}}€</span>
                    </li>
                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>