<ion-view hide-back-button="true" title="Katalog">
    <ion-nav-buttons side="right">
        <button class="button icon ion-android-cart" ng-class="{'disabled': !price}" ng-click="gotoCart()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="product in allProducts" ui-sref="app.catalog-detail({id: product.itemId})">
                <div class="categories" ng-class="colors[product.productGroup]"></div>
                <img ng-src="../assets/img/{{ product.pictureId }}.png" />
                <span class="badge badge-assertive">{{ product.price }}€</span>
                <br>
                <!--<img ng-src="../www/assets/img/{{ product.pictureId }}.png"/><br>-->
                {{ product.productGroup }}<span class="item-right">ID: {{ product.itemId }}</span>
                <ion-option-button class="button-positive" ng-click="toCart(product)">
                    Warenkorb
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-energized">
        <label class="item item-input" style="width : 100%;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Id/Kategorie" ng-change="search()" ng-model="searchItem">
        </label>
    </ion-footer-bar>
</ion-view>