<ion-view hide-back-button="true" title="Katalog">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="product in allProducts" ui-sref="app.catalog-detail({id: product.itemId})">
        <div class="categories" ng-class="colors[product.productGroup]"></div>
        <img ng-src="../assets/img/{{ product.pictureId }}.png"/><br>
        ID: {{ product.itemId }}<br>
        <ion-option-button class="button-positive"
                           ng-click="toCart(product)">
          Warenkorb
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
