.categories {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  left: 3px;
  top: 42px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.item-right {
  float: right;
  display: inline;
}
.category-green {
  background-color: green;
}
.category-red {
  background-color: red;
}
.category-yellow {
  background-color: yellow;
}
.category-orange {
  background-color: orange;
}
.category-blue {
  background-color: blue;
}
.category-turquoise {
  background-color: turquoise;
}
.category-pink {
  background-color: pink;
}
.category-lavender {
  background-color: lavender;
}
.category-cyan {
  background-color: cyan;
}
.category-lightcoral {
  background-color: lightcoral;
}
.category-gold {
  background-color: gold;
}
.category-silver {
  background-color: silver;
}
.category-brown {
  background-color: brown;
}
.category-rosybrown {
  background-color: rosybrown;
}
.category-black {
  background-color: black;
}
.category-olive {
  background-color: olive;
}
.category-teal {
  background-color: teal;
}
