<ion-view hide-back-button="true">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="product in allProducts" ui-sref="app.catalog-detail({id: product.itemId})">
        <img ng-src="../assets/img/{{ product.pictureId }}.png"/><br>
        ID: {{ product.itemId }}<br>
        Kategorie: {{ product.productGroup }}
        <ion-option-button class="button-positive"
                           ng-click="">
          Warenkorb
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
