<ion-modal-view>
    <ion-header-bar class="bar-energized">
        <div class="buttons">
            <button class="button" ng-click="closeModal()"><i class="ion-arrow-left-c"></i>Zum Einkaufswagen</button>
        </div>
        <h1 class="title">Ihre Bestellung</h1>
    </ion-header-bar>
    <ion-content>
        <div class="card sendOrder">
            <div class="item item-text-wrap">
                <h2>Ihre Items</h2>
                <ul class="list" id="dashlist">
                    <li class="item" ng-repeat="cart in data.cart">
                        <img ng-src="../assets/img/{{ cart.pictureId }}.png" />
                        <!--<img ng-src="../www/assets/img/{{ cart.pictureId }}.png" />-->
                        <div id="itemId"> ID: {{ cart.itemId }}</div>
                        <span id="kateg"> Kategorie: {{ cart.productGroup }}</span> <span id="gesKosten">
                        {{cart.price}}€ X {{cart.quantity}}stk = <span id="ges">{{cart.price * cart.quantity | number : 2}}€</span></span>
                        <div style="clear:both"></div>
                    </li>
                    <li><span style="float:right;text-decoration: underline">Gesamtkosten: {{data.price | number : 2}}€</span></li>
                    <li ng-show="data.customer.customerDiscount"><span style="float:right;">Rabatt: {{data.customer.customerDiscount}}%: <span style="text-decoration:underline;">{{data.price * ((data.customer.customerDiscount/100)) | number : 2}}</span></span></li>
                    <li ng-show="data.customer.customerDiscount"><span style="float:right;text-decoration:underline;color:green;">Neue Kosten:{{(data.price - (data.price * ((data.customer.customerDiscount/100)))) | number : 2}}€</span></li>
                </ul>
            </div>
            <div class="item item-text-wrap">
                <div>
                    Mitarbeiter : <span>{{data.user.firstName}} {{data.user.lastName}}</span> <span id="mbId">ID : {{data.user.fieldWorkerId}}</span>
                </div>
            </div>
            <div class="item item-text-wrap item-input-inset">

                <span id="kundenlabel">{{data.compName}}: </span>
                <label class="item-input-wrapper" ng-style="data.style">
                    <i style="color:green;" class="ion-checkmark-round" ng-show="data.custfound && data.loaded"></i>
                    <i style="color:red;" class="ion-close-round" ng-show="!data.custfound && data.loaded"></i>
                    <input type="number" id="kundenId" placeholder="Kunden-Id" ng-model="data.custId" ng-model-options="{debounce : 1500}">
                </label>

            </div>
            <div class="item">
                <button class="button button-assertive" ng-click="closeModal()">Stornieren</button>
                <button style="float:right;" class="button button-balanced" ng-click="send()">Absenden</button>
            </div>

    </ion-content>
</ion-modal-view>
