.sendOrder{
    #mbId{
        float :right;
    }
    #kundenlabel{
        margin-right: 75px;
    }
    #kundenId{
        width: 100%;
        text-align: right;
    }
    .gesKosten{
        float: right;
        margin-right: -10px;
        
    }
    .ges{
            text-decoration: underline;
        }
    .itemId{
        float: right;
        margin-right: 5px;
    }
}
//.shoppinginput{
//    font-size: 16pt;
//    width: 50px;
//    margin-bottom: 10px;
//    text-align: right;
//    display: inline;
//}
.inputK{
        font-size: 16pt;
    width: 50px;
    margin-top: -7px;
    text-align: right;
    display: inline;
    margin-bottom : 0 !important;
}